body {
  background-color: aqua;
}

p {
  color: green;
}
/* Comment in CSS */

.blue {
  color: blue;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

#important {
  font-size: 20px;
  color: blueviolet;
}
